@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: azure;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
}

.bs1 {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  color: orangered;
}

p {
  margin: 5px !important;
  text-align: left;
}
p.name {
  font-weight: 800;
  line-height: 30px;
  font-size: 15px;
}

p.type {
  font-size: x-small;
}
p.category {
  font-size: x-small;
}
p.price {
  text-align: right;
}
.header {
  padding: 20px;
}

.header .ant-btn {
  box-shadow: none !important;
  background-color: white !important;
  color: orangered !important;
  border: 1px solid orangered !important;
  min-width: 100px;
  min-height: 35px;
}

.btn1 {
  box-shadow: none !important;
  background-color: white !important;
  color: orangered !important;
  border: 1px solid orangered !important;
  min-width: 100px;
  min-height: 35px;
}
.btn1:hover {
  background-color: aliceblue !important;
}
.btn1:focus {
  border: none !important;
  outline: none !important;
}
.content {
  min-height: 90vh;
}

.bikeImg {
  height: 200px;
  width: auto;
  border-radius: 5px;
}

.login {
  background-color: black;
  min-height: 100vh;
  padding-top: 30px;
}

.login label {
  color: white !important;
  opacity: 0.6;
}
.login h1 {
  color: white !important;
  opacity: 0.6;
}

.login-form {
  background-color: #1f1f1f;
  min-height: 504px !important;
}

.login-form input {
  background-color: #333333 !important;
  border: none !important;
  color: white;
  opacity: 0.5;
}

.loginLogo {
  position: absolute;
  left: 40%;
  right: 0;
  top: 50%;
  bottom: 50%;
  transform: translateY(50%, 50%);
}

.login a {
  color: white !important;
  opacity: 0.5;
}

.logoText span {
  color: #333333;
  font-size: xx-small;
  position: relative;
  letter-spacing: 2px;
  left: -125px;
  top: 15px;
}

.bikeImg2 {
  height: 400px;
  width: auto;
  border-radius: auto;
}
.dtPrice {
  font-size: 22px;
  line-height: 22px;
  color: orangered;
  margin-bottom: 30px !important;
}

.dtInfo {
  font-size: 28px;
  line-height: 28px;
  padding-right: 15px;
  padding-left: 15px;
  color: black;
}
.dtInfo2 {
  font-size: 13px;
  line-height: 13px;
  padding-right: 5px;
  padding-left: 5px;
  color: black;
}
.dtName {
  font-size: 26px;
  font-weight: 500;
}

.dtFooter {
  color: lightgray;
  font-weight: 600;
  font-size: 16px;
}

.dtFooter2 {
  color: black !important;
  font-weight: 300;
}
.tcs {
  color: green;
  font-size: x-small;
  line-height: 40px;
  text-align: center;
}

.totalAmount {
  line-height: 80px;
}

svg {
  height: 16px !important;
  width: 16px !important;
}
a {
  color: orangered !important;
}
